
body{
    background-color: #f7ecde;
}

h1{
    font-family: "Pacifico", cursive;
    font-size: 50px;
    color:#352e28;
    position: relative;
}
h1::before{
    content: "";
    background-color: #fec260;
    height: 25%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 10px;
    z-index: -1;
    transition: height 300ms;
}
h1:hover::before{
    height: 50%;
}

.bookmarks{
    border-width: 2px 0 2px 0;
    border-style: dotted;
    border-color: #352e28;
}

h2{
    font-family: "Righteous", cursive;
    font-size: 25px;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-control:focus{
    color: #212529;
    background-color: #fff;
    border-color: #d99c39;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #fec26055;
}

.bookmarks .btn-sub{
    --bs-btn-color: #fff;
    --bs-btn-bg: #d1512d;
    --bs-btn-border-color: #d1512d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d1512d;
    --bs-btn-hover-border-color: #d1512d;
}
